<%= simple_form_for(@story) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: 'Война и мир', label: 'Название' %>
    <%=	f.input :description, label: 'Описание' %>

    <!--<%=	f.input :genre, collection: genres, default: 'author', label: 'Жанр' %>-->
    <%= f.input :genre, :collection => Genre.all, :selected => Genre.first %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить' %>
  </div>
<% end %>
