<%= simple_form_for(@story) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: 'Война и мир', label: 'Название',required: true %>
    <%=	f.input :description, label: 'Описание', label: 'Описание' ,required: true, placeholder: 'Введите описание диалога' %>

    <%= f.input :genre, :collection => Genre.all, :selected => Genre.first, label: 'Жанр' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Далее' , class: 'btn btn-success'%>
  </div>
<% end %>
